.flex {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    -js-display: flex;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .flex {
        display: table;
    }
    .flex > * {
        display: table-cell;
        text-align: center;
    }
}