html {
    font-family: "Lucida Sans Unicode";
}

h1 {
	font-family: "Lucida Sans Unicode";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: "Lucida Sans Unicode";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p,
label {
	font-family: "Lucida Sans Unicode";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Lucida Sans Unicode";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Lucida Sans Unicode";
	font-size: 13.5135px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 19.305px;
}

.nav--link {
    color: #BFBFBF;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: white;
        cursor: pointer;
    }
}
a:hover {
    cursor: pointer;
}
.nav--link-active {
    color: white;
}
.font--slab {
    font-weight: 600;
    text-transform: uppercase;
}
.font--thin {
    font-weight: 100;
    text-transform: uppercase;
}

.font--link-danger {
    color: #E11616;
}
.font--center {
    text-align: center;
}
