@import "_variables";
@import "_typography";
@import "_grid";


.bg--black {
    background-color: $ct_black;
}
.bg--white {
    background: white;
    background-color: $ct_white;
}
.bg--orange {
    background-color: $ct_orange;
}
.bg--blue {
    background-color: $ct_blue;
}
.color--black {
    color: $ct_black;
}
.color--white {
    color: $ct_white;
}
.color--orange {
    color: $ct_orange;
}
.color--blue {
    color: $ct_blue;
}



// Nav
.nav--ul {
    list-style-type: none;
}
.nav--li {
    display: inline-block;
}
.nav--li + .nav--li {
    padding-left: 1em;
}
.nav--image {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}


// Main classes
.main {
    padding: 1em;
}
.blue-drop-shadow {
    -moz-box-shadow:    0px 5px 0px 0px #60D0E4;
    -webkit-box-shadow: 0px 5px 0px 0px #60D0E4;
    box-shadow:         0px 5px 0px 0px #60D0E4;
}


// Forms classes
@import "_forms";

.inline--block {
    display: inline-block;
    position: relative;
    // Clearfix
    // &:after {
    //     content: ".";
    //     visibility: hidden;
    //     display: block;
    //     height: 0;
    //     clear: both;
    // }
}
.btn {
    margin-top: 15px;
    font-size: 17px;
    min-height: 24px;
    padding: 6px 12px;
    border-radius: 5px;
    border: solid 3px $ct_orange;

    &:hover {
        cursor: pointer;
    }
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.one-of-three {
    width: 33.33%;
    float: left;
}
.two-of-three {
    width: 66.66%;
    float: right;
}
.full-btn {
    width: 95%;
}

.left {
    float: left;
}

.right {
    float: right;
}
.right > a {
    margin-top: 1.5em;
}

// Utility Classes

.alert {
    font-size: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert--info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

img {
    color: white;
}

.show {
    visibility: visible;
    display: block;
}
.hide {
    visibility: hidden;
    display: none;
}
