/*
    Table of Contents:

    `blah (#location) - description`

    Colors (#colors) - CSS class definitions of colors


*/

/*
    Colors #colors
*/

.bg--black {
    background-color: #000000;
}
.bg--white {
    background-color: #ffffff;
}
.color--black {
    color: black;
}
.color--white {
    color: white;
}

/*
    Compotool specific colors
*/
.bg--orange {
    background-color: #FC6719;
}
.bg--blue {
    background-color: #60D0E4;
}


/*
    Unique classes
*/
.blue-drop-shadow {
    -moz-box-shadow:    0px 3px 5px 6px #60D0E4;
    -webkit-box-shadow: 0px 3px 5px 6px #60D0E4;
    box-shadow:         0px 3px 5px 6px #60D0E4;
}
